# assignment data structe

1.What are data structures, and why are they important?
  -> Data structures are organized ways of storing and organizing data so that it can be efficiently accessed, modified, and managed. They are essential for optimizing the performance of algorithms and for managing large volumes of data. Data structures allow you to handle and manipulate data in an effective and efficient manner, which is crucial for solving complex problems.

Here’s why data structures are important:

Efficient Data Access and Manipulation: By choosing the right data structure, you can perform operations like searching, inserting, deleting, and updating data more efficiently. For example, accessing an element in an array takes constant time, while finding an element in an unsorted list could take much longer.

2.Explain the difference between mutable and immutable data types with examples?
   -> Mutable data types are those whose values can be modified after they are created.Immutable data types are those whose values cannot be changed once they are created.
   Mutable data types are List, Set and Dictionaries and Immutable data type is Tuple

3.What are the main differences between lists and tuples in Python?
   -> Main differnce is Lists are mutable while tuples are immutable that cannot be changed after creating

4. Describe how dictionaries store data?
     -> dictionerires store data in key value pair, for every key there is separate value

5.Why might you use a set instead of a list in Python?
    -> List allows duplicate elemets but set allows only unique elements means if you enter two or three same elements it gives you only one element as result

6.What is a string in Python, and how is it different from a list?
    -> A string can be created by enclosing characters inside either single (') or double (") quotes,Strings are immutable in Python, meaning once a string is created, it cannot be changed. You can't modify individual characters in a string directly.while A list is an ordered collection of items, which can be of any data type (including strings, integers, floats, and even other lists). Lists are mutable, meaning their elements can be changed or modified after the list is created.

7.How do tuples ensure data integrity in Python?
   -> Tuples are immutable, meaning once a tuple is created, you cannot modify, add, or remove elements from it.

8.What is a hash table, and how does it relate to dictionaries in Python?
  -> The dictionary uses a hash function to map each key to a specific index in the underlying hash table

9.Can lists contain different data types in Python?
   ->Yes, lists in Python can contain different data types.

10.Explain why strings are immutable in Python?
  ->In Python, strings are immutable, meaning once a string is created, it cannot be modified in place.

11.What advantages do dictionaries offer over lists for certain tasks?
  -> Dictionaries are specifically designed to store key-value pairs, which makes them a perfect choice when you need to associate one value with another.
  While lists don't directly support key-based access, and while you could use indices as a form of key, it wouldn't be as intuitive or efficient as using a dictionary.

12. Describe a scenario where using a tuple would be preferable over a list?
  -> Imagine you're working with geographic coordinates—latitude and longitude—for a set of locations, such as in a mapping application or a GPS system. These coordinates are fixed and should not change once they are set. In this case, using a tuple would be more appropriate than a list for the following reasons:immutabilty,memory efficiency and  unchangeable entity.

13.How do sets handle duplicate values in Python?
   ->In Python, sets automatically handle duplicate values by removing them. A set is an unordered collection of unique elements, meaning that it does not allow duplicate values.

14.How does the “in” keyword work differently for lists and dictionaries?
   -> The in keyword checks if the exact value is contained in the list.
   While the in keyword checks if the key you are searching for is present in the dictionary.

15.Can you modify the elements of a tuple? Explain why or why not?
   -> No, you cannot modify the elements of a tuple in Python because tuples are immutable data structures.

16.What is a nested dictionary, and give an example of its use case?
  -> A nested dictionary in Python is a dictionary where the values can themselves be dictionaries. This allows you to store more complex data structures by nesting dictionaries inside each other, making it possible to represent hierarchical or multi-level data.
  use case: Organizing student records, where each student’s information (e.g., name, grades, and courses) is stored in a nested dictionary.

17. Describe the time complexity of accessing elements in a dictionary?
   -> The time complexity of accessing elements in a Python dictionary is O(1) on average, meaning it takes constant time to retrieve a value based on its key. This is one of the major advantages of dictionaries in Python, making them highly efficient for key-based lookups.

18. In what situations are lists preferred over dictionaries?
   -> Lists allow you to access elements by their index, which is useful when you need to reference elements in a specific position.
Dictionaries, on the other hand, require you to access elements by key, and there is no concept of indexing in dictionaries.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
   -> Since dictionaries did not guarantee the order of key-value pairs, you could not rely on the order in which you inserted elements when iterating over a dictionary or accessing the data.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
   ->A list in Python is an ordered collection of elements that can be accessed using indexing. Elements in a list are stored sequentially.
Data retrieval in a list is based on the position of the element, which is an index (an integer value).
While A dictionary in Python is an unordered collection of key-value pairs. The data is accessed using keys, not by position or index.
Each element in a dictionary consists of a key and a value. You retrieve data by specifying the key.

## practical questions

1.Write a code to create a string with your name and print it?

In [1]:
name="shashi"
print(name)

shashi

2.Write a code to find the length of the string "Hello World"?

In [2]:
len("Hello World")

11

3.Write a code to slice the first 3 characters from the string "Python Programming"?

In [3]:
string="python programming"
string[0:3]

'pyt'

4.Write a code to convert the string "hello" to uppercase?

In [4]:
string="hello"
string.upper()

'HELLO'

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [5]:
string="I like apple"
string.replace("apple","orange")

'I like orange'

6.Write a code to create a list with numbers 1 to 5 and print it?

In [7]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [10]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [11]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [12]:
list=["a","b","c","d"]
list[1]

'b'

10.Write a code to reverse the list [10, 20, 30, 40, 50]

In [13]:
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [14]:
t=(100,200,300)
print(t)
type(t)

(100, 200, 300)

tuple

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [16]:
t=("red","green","blue","yellow")
t[-2]

'blue'

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [17]:
t=(10,20.5,15)
min(t)

10

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:
t=("dog","cat","rabbit")
t.index("cat")

1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [19]:
t=("banana","apple","kiwi")
"kiwi" in t

True

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [20]:
s={"a","b","c"}
print(s)

{'c', 'a', 'b'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [21]:
s={1,2,3,4}


s.clear()
print(s)

set()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [22]:
s={1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [23]:
s1={1,2,3}
s2={3,4,5}
s1|s2

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [24]:
s1={1,2,3}
s2={2,3,4}
s1&s2

{2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [25]:
d={"name":"shashi","age":33,"city":"nagpur"}
print(d)
type(d)

{'name': 'shashi', 'age': 33, 'city': 'nagpur'}

dict

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [26]:
dict={'name':'john','age':25}
dict['country']='USA'
print(dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [29]:
dict1={'name':'Alice','age':30}
dict1['name']

'Alice'

24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [32]:
dict={'name':'bob','age':22,'city':'new york'}
dict.pop('age')
print(dict)

{'name': 'bob', 'city': 'new york'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [33]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [34]:
my_list=[1,2,3,4]
my_tuple=(5,6,7,8,9)
my_dict={"name":"shashi","age":33,"city":"nagpur"}
print("list:",my_list)
print("tuple:",my_tuple)
print("dictionary:",my_dict)

list: [1, 2, 3, 4]
tuple: (5, 6, 7, 8, 9)
dictionary: {'name': 'shashi', 'age': 33, 'city': 'nagpur'}

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [37]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[15, 61, 78, 89, 100]

28.Write a code to create a list with strings and print the element at the third index.

In [38]:
list=["banana","apple","kiwi","orange","carrot"]
print("third element is:",list[3])

third element is: orange

29.Write a code to combine two dictionaries into one and print the result.

In [39]:
my_dict1={"name":"shashi","age":33,"city":"nagpur"}
my_dict2={"fruit":"apple","sport":"football","hobby":"music"}
combine_dict=(my_dict1,my_dict2)
print("combine dictionery:",combine_dict)

combine dictionery: ({'name': 'shashi', 'age': 33, 'city': 'nagpur'}, {'fruit': 'apple', 'sport': 'football', 'hobby': 'music'})

30.Write a code to convert a list of strings into a set.

In [40]:
my_list=["apple","banana","kiwi"]
my_set=set(my_list)
print("set:",my_set)

set: {'apple', 'banana', 'kiwi'}